.os-page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--os-space-4);
    margin-bottom: 0;
    padding: 0px 10px;
}

.os-page-header h1 {
    margin: 0;
}

.os-page-header p {
    margin: var(--os-space-0) 0 0;
    max-width: 60ch;
}

.os-page-header-actions {
    display: flex;
    gap: var(--os-space-2);
    flex-wrap: wrap;
    align-items: center;
}
