@page "/access-denied"
@layout MainLayout
@attribute [Microsoft.AspNetCore.Authorization.AllowAnonymous]

<PageTitle>Access denied</PageTitle>

<h1>Access denied</h1>
<p>You do not have permission to view this page.</p>
<p><a href="/">Home</a></p>
